$grid-breakpoints: (
  xxs: 0,
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
);

$container-max-widths: (
  xs: 320px,
  sm: 420px,
  md: 720px,
  lg: 960px,
);

$breakpoints: (
  'desktop': (
    min-width: 768px,
  ),
  'mobile': (
    max-width: 767px,
  ),
  'xs': (
    max-width: 319px,
  ),
  'sm': (
    max-width: 479px,
  ),
  'md': (
    max-width: 767px,
  ),
  'lg': (
    max-width: 1023px,
  ),
  'lg+': (
    min-width: 1024px,
  ),
) !default;

@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{ inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn 'valor no recibido o no coicide con `#{$breakpoint}`. ';
  }
}

@mixin sub {
  font-family: $futura-heavy;
  font-size: 16px;
}

@mixin body-1 {
  font-family: $futura-book;
  font-size: 18px;
}

@mixin body-2 {
  font-family: $futura-book;
  font-size: 16px;

  @include media('md') {
    font-size: 14px;
  }
}

@mixin body-3 {
  font-family: $futura-book;
  font-size: 14px;
}

@mixin button-link {
  font-family: $futura-heavy;
  font-size: 14px;
}

@mixin overline {
  font-family: $futura-book;
  font-size: 12px;
}

@mixin section-config($color: $white) {
  background-color: $color;
  width: 100%;
}

@mixin scroll-config($width) {
  ::-webkit-scrollbar {
    background-color: transparent;
    cursor: pointer;
    width: $width;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba($blue-shadow, 80%);
    border-radius: $width;

    &:hover {
      background-color: $blue-shadow;
      opacity: 1;
    }
  }
}

@mixin scroll-config-firefox {
  scrollbar-color: $blue-shadow transparent;
  scrollbar-width: thin;
}

@mixin only-lg-inline {
  @include media('lg') {
    display: inline-block;
  }
  @include media('md') {
    display: none;
  }
  @include media('sm') {
    display: none;
  }
  @include media('xs') {
    display: none;
  }
}
