// General var
$blue: #36679a;
$blue-sky: #338cbf;
$blue-morning: #81c1ea;
$blue-light: #f4f6f9;
$blue-shadow: #dae0e9;
$blue-storm: #225aa7;
$blue-night: #002a61;

$yellow: #fcda47;
$yellow-summer: #ffbe12;

$red: #f3685f;
$green: #39c6ac;

$white: #fff;
$white-80: rgba(255, 255, 255, 0.8);
$white-70: rgba(255, 255, 255, 0.7);
$white-50: rgba(255, 255, 255, 0.5);
$white-30: rgba(255, 255, 255, 0.3);
$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-40: rgba(0, 0, 0, 0.4);

$gray: #636363;
$gray-dark: #282828;
$gray-light: #aaa;

$futura-bold: 'Futura-Bold';
$futura-heavy: 'Futura-Heavy';
$futura-book: 'Futura-Book';
$lato-bold: 'Lato-Bold';
$lato-regular: 'Lato-Regular';
// End general var
