.color-blue {
  color: $blue;
}

.color-blue-sky {
  color: $blue-sky;
}

.color-blue-morning {
  color: $blue-morning;
}

.color-blue-light {
  color: $blue-light;
}

.color-blue-shadow {
  color: $blue-shadow;
}

.color-blue-storm {
  color: $blue-storm;
}

.color-blue-night {
  color: $blue-night;
}

.color-yellow {
  color: $yellow;
}

.color-yellow-summer {
  color: $yellow-summer;
}

.color-red {
  color: $red;
}

.color-green {
  color: $green;
}

.color-white {
  color: $white;
}

.color-gray {
  color: $gray;
}

.color-gray-dark {
  color: $gray-dark;
}

.color-gray-light {
  color: $gray-light;
}
