// Global style
html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bot-line {
  border-bottom: 2px solid $blue-shadow;
}

@include scroll-config(16px);

@include media('md') {
  @include scroll-config(8px);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
