// Grid

@mixin contenedor-flex-config($top-size) {
  bottom: 0;
  left: 0;
  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: $top-size;
}

.contedor-fixed-login {
  @include contenedor-flex-config(0);
  background-color: $blue-storm;
}

.contedor-fixed-error {
  @include contenedor-flex-config(0);
}

.contedor-fixed-privado {
  @include contenedor-flex-config(0);
  background-color: $blue-light;
}

.contedor-fixed {
  @include contenedor-flex-config(74px);
}

.contedor-fixed-tab {
  @include contenedor-flex-config(130px);

  &.z-index-1035 {
    z-index: 1035;
  }

  @include media('md') {
    top: 200px;
  }
}

.contedor-privado {
  background-color: $white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  bottom: 0;
  left: 70px;
  position: fixed;
  right: 48px;
  top: 70px;
  z-index: 2;

  @include media('mobile') {
    border-radius: 0;
    padding: 0;
    left: 0;
    right: 0;
  }
}

.contedor-interno-privado {
  background-color: transparent;
  bottom: 0;
  left: 102px;
  overflow: auto;
  overflow-x: hidden;
  padding-right: 16px;
  position: fixed;
  right: 80px;
  top: 102px;

  @include media('mobile') {
    padding-right: 16px;
    left: 16px;
    right: 0;
  }
}

.contedor-solicitud {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 60px auto;
  min-height: calc(100% - (60px * 2));
  width: 660px;
  @include media('md') {
    margin: 16px auto;
    min-height: calc(100% - (16px * 2));
    width: 290px;
  }

  &.background-white {
    background-color: $white;
  }
}

.contedor-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 60px auto;
  min-height: calc(100% - (60px * 2));
  @include media('md') {
    margin: 30px auto;
    min-height: calc(100% - (30px * 2));
  }
}

.z-indez-1 {
  z-index: 1;
}

.position-relative {
  position: relative;
}

.fixed-left-bottom {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  z-index: -1;

  @include media('lg+') {
    display: block;
  }
}
// End grid
