.list-onboarding {
  margin-bottom: 24px;
  width: 100%;

  ul {
    color: $blue-storm;
    margin-bottom: 0;
    padding-left: 24px;

    @include media('md') {
      padding-left: 10px;
    }

    li {
      @include body-2;
    }
  }
}
