// Typography

// Futura
@font-face {
  font-family: 'Futura-Bold';
  src: url('../../fonts/Futura-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Futura-Heavy';
  src: url('../../fonts/Futura-Heavy.ttf') format('truetype');
}
@font-face {
  font-family: 'Futura-Book';
  src: url('../../fonts/Futura-Book.ttf') format('truetype');
}

// Lato
@font-face {
  font-family: 'Lato-Bold';
  src: url('../../fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../../fonts/Lato-Regular.ttf') format('truetype');
}

// End Typography
