// Modules
@import 'scss/modules/var';
@import 'scss/modules/mixins';
@import 'scss/modules/utility';

// Partials
// @import 'scss/partials/reset';
@import 'scss/partials/grids';
@import 'scss/partials/global';
@import 'scss/partials/buttons';
@import 'scss/partials/typography';
@import 'scss/partials/fonts';
@import 'scss/partials/cards';
@import 'scss/partials/flex';
@import 'scss/partials/colors';
@import 'scss/partials/table';
@import 'scss/partials/sections';
@import 'scss/partials/svg';
@import 'scss/partials/list';
@import 'scss/partials/modals';
@import 'scss/partials/calendar';
$primary: $blue-storm;
$secondary: $blue-sky;
$dark: $gray-dark;
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';
